@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap");

.english-serif {
	font-family: "Source Serif Pro", serif;
}

.chinese-serif {
	font-family: "Noto Serif SC", serif;
}

.red {
	color: #c10000;
}

.mode-dark .red {
	color: #e84a5f;
}

html,
body,
#root,
.app-container {
	@apply min-h-screen;
	background-color: #f8f8f8;
}

.app-container.mode-dark {
	@apply bg-gray-900;
	@apply text-gray-200 !important;
}

.disabled-link {
	pointer-events: none;
}
