@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600;700&family=Noto+Serif+TC:wght@400;500;700&family=Noto+Serif:wght@400;700&display=swap");

.english-serif {
	font-family: "Source Serif Pro", serif;
}

.chinese-serif {
	font-family: "Noto Serif SC", "Noto Serif TC", serif;
}

.red {
	color: #c10000 !important;
}

.hover-red:hover {
	color: #c10000 !important;
}

.mode-dark .red {
	color: #e84a5f !important;
}

.mode-dark .hover-red:hover {
	color: #e84a5f !important;
}

html {
	@apply min-h-screen;
	background-color: #f8f8f8;
}

html.mode-dark {
	/*@apply bg-gray-900;*/
	background-color: rgba(0, 0, 0, 0.95);
	@apply text-gray-200 !important;
}

.disabled-link {
	pointer-events: none;
}
